@model JardinesEdti2022.Web.Models.ViewModels.Ciudad.CiudadEditVm

@{
    ViewBag.Title = "DeleteCity";
}

<h2>Borrar Ciudad al País</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CiudadId)
        <div class="form-group">
            @Html.LabelFor(model => model.NombreCiudad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NombreCiudad, new {  @class = "form-control" ,@disabled="disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaisId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PaisId, Model.Paises, "Seleccione País", new { @class = "form-select", disabled = "disabled" })
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Borrar" class="btn btn-danger" />
                @Html.ActionLink("Volver", $"Details/{Model.PaisId}", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}